# Лабораторная работа к лекции 1
Ваше имя: Игорь Буц

Ваш адрес электронной почты:butsid@mgpu.ru

## Упражнение 1.1. Типы данных и операции
1. Определите две переменные и присвойте первой целое число, а второй — число с плавающей запятой. Определите новую переменную и присвойте сумму двух предыдущих переменных. Каков тип данных третьей переменной?
2. Переназначьте переменную с другим типом данных, например, возьмите одну из числовых переменных и присвойте ей строку. Какой новый тип данных?
3. Посмотрите, что произойдет, если вы попытаетесь добавить строку к строке.
4. Посмотрите, что произойдет, если вы добавите строку к числу с плавающей запятой или целому числу.

In [1]:
#1
a = int(1)
b = float(1.2)
print(type(a))
print(type(b))
print(a,b)

c = a + b
print(c)
print(type(c))

#2
a = str(a)
b = str(b)
print(type(a))
#3
f = a+b  #вместо 2.2 произошло слияние 11.2
print(f)

#4
"""
g = int(1)
v = str(2)

s = g+v   #Выдаст ошибку - unsupported operand type(s) for +: 'int' and 'str'
print(s)

"""

<class 'int'>
<class 'float'>
1 1.2
2.2
<class 'float'>
<class 'str'>
11.2

"\ng = int(1)\nv = str(2)\n\ns = g+v   #Выдаст ошибку - unsupported operand type(s) for +: 'int' and 'str'\nprint(s)\n\n"

## Упражнение 1.2. Запуск программ

  * Создайте новый файл Python(или файл с расширением `.ipynb`) и используйте функцию `double_number` в качестве шаблона. Измените код, чтобы добавить два числа вместо удвоения одного числа.
  * Можете ли вы догадаться, что произойдет, если изменить отступ? Выполните данное действие.
  * Попробуйте, что произойдет, если вы напечатаете `a` в самом конце программы. Пояснить, что происходит?
 [Текст ссылки](https://)

In [2]:
def double_number(a):
  a+=2 #если изменить отступ будет invalid syntax
  return a
print(double_number(3))
print(double_number(14.22))
a # выведет '1'

5
16.22

'1'

## Упражнение 1.3. Создание ячеек, выполнение кода

1. Создайте новую ячейку кода ниже, где вы определите переменные, содержащие ваше имя, ваш возраст  и вашу специальность.
2. Создайте еще одну ячейку, использующую эти переменные, и выведите объединенную строку с указанием вашего имени, специальности и возраста в годах, месяцах и днях (при условии, что сегодня ваш день рождения). Вывод должен выглядеть так:

```
Имя: Кот-ученый, Специальность: Бизнес-Информатика, Возраст: 18 лет, или 216 месяцев, или 6480 дней..
```

In [3]:
name = "Игорь"
age = 19
spec = "Бизнес-Информатика"

print(f"Имя: {name}, Специальность: {spec}, Возраст: {age} лет, или {age*12} месяцев, или {age*12*30} дней...")

Имя: Игорь, Специальность: Бизнес-Информатика, Возраст: 19 лет, или 228 месяцев, или 6840 дней...

## Упражнение 1.4: Функции
Напишите функцию, которая
  * принимает две числовые переменные
  * умножает их друг на друга
  * делит их на числовую переменную, определенную в области видимости вне функции
  * и возвращает результат.

Выведите результат функции для трех разных наборов входных переменных.

In [4]:
a = int(2)
x = int(input())
y = int(input())

def f(x,y):
  c = ((x*y)/a)
  return c
print(f(x,y))

4
5
10.0

## Упражнение 1.5*

Есть некоторые данные о количестве книг, прочитанных разными людьми, работающими в книжном магазине Владимира. Создайте код Python, который учитывает каждого человека и выводит, сколько книг он прочитал. Если кто-то прочитал 0 книг, выведите «___ не читал ни одной книги!» вместо количества книг.

In [5]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]
result = list(zip(people,books_read))
print(result)

[('Krishnang', 12), ('Steve', 6), ('Jimmy', 0), ('Mary', 7), ('Divya', 4), ('Robert', 10), ('Yulia', 15)]

Существует несколько способов решить эту задачу: можно изучить функцию `zip()`, использовать `enumerate()`, `range` и `len` или использовать другие методы. Чтобы напечатать имена и значения, вы можете использовать конкатенацию строк (+), форматирование f-строки или другие методы.

In [28]:
def zip_method(names, books):
    books[books.index(0)] = "не прочитал ни одной книги"
    zip_method = list(zip(names, books))
    result = ', '.join(f'{person} прочитал {books}' for person, books in zip_method)
    return(result)

Преобразуйте только что созданный цикл в функцию, которая принимает два списка (прочитанные книги и людей) в качестве аргументов.

In [29]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]
print(zip_method(people, books_read))

Krishnang прочитал 12, Steve прочитал 6, Jimmy прочитал не прочитал ни одной книги, Mary прочитал 7, Divya прочитал 4, Robert прочитал 10, Yulia прочитал 15

Отсортируйте значения `books_read` от большего к меньшему и выведите трех первых людей с количеством прочитанных ими книг. Некоторые возможные способы решения этой задачи включают использование сортировки аргументов `NumPy`, создание словаря и создание кортежей.

In [62]:
import numpy as np
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]
sort = np.sort(books_read)[::-1][0:3]
result = list(zip(people,sort))
print(result)

[('Krishnang', 15), ('Steve', 12), ('Jimmy', 10)]